body{
   background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
   border: 1px solid black;
   height:7rem;
   border-radius:10px;
   overflow:hidden
}
.image{
    height:7rem;
    display:inline
}
.outerDiv{
    background-color: white;
}
.biggerversionouterdiv{
    float:right;
    display:flex;
    justify-content:space-evenly;
    width:30rem;
    height:7rem;    
}

a{
    margin-top: 2rem;
}

a:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.5)
}

.button{
    float:right;
    display:inline
}